
.header{
    width: 60%;
    margin: auto;
    margin-top: 35px;
    text-align: center;
    padding: 30px; 
    color:white;
    background: linear-gradient(60deg, #00b0e0, #3490de);
    box-shadow: 0 12px 20px -10px rgba(52, 144, 222, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(52, 144, 222, 0.2);
    border-radius: 10px;
}

.body{
    width: 90%;
    margin: auto;
    margin-top: -20px;
    text-align: center;
    padding: 30px;
    position:static;
    z-index: -1;
    border-radius: 10px;
    box-shadow: 0 12px 20px -10px rgba(52, 144, 222, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(52, 144, 222, 0.2);
}


.input{
    border-radius: 8px;
}

p,label{
    font-weight: 600;
}

